.vert-grad {
	height: 400px;
	background: linear-gradient(pink, purple);
}
.rad-grad {
	height: 400px;
	background: radial-gradient(pink, purple);
}
.animate {
	height: 300px;
	width: 300px;
	border-radius: 150px;
	background: yellow;
	text-align: center;
	padding-top: 140px;
	box-sizing: border-box;
	/*animation: move infinite 2s;*/
	position: absolute;
	top: 0;
	left: 0;

	left: 50%;
	transform: translateX(-50%) translateY(-50%) scale(0.5);
	top: 50%;
	
}

.animate:hover {
	transform: translate(-50%, -50%) scale(0.5);
}
 
@keyframes move {
	30% {
  		left: 200px;
  		background: green;
 	}
	80% {
   		top: 100px;
   		background: blue;
	}
}


body{
	padding-bottom: 200px;
}
h1 {
	display: inline-block;
	transition: all 1.5s;
}
h1:hover {
	transform: rotate(350deg)
	color: red;
};